<header>
  <div class="header-logo">
    Chatty
  </div>
  <ul class="header-menus">
    <li>Chattyとは</li>
  </ul>
</header>

<div class="about-main">
  <h4>掲示板です</h4>
  <p>
    国際結婚を目指す方、国際結婚をした方が自由に話せる掲示板です。
    
  </p>
</div>

<img class="about-img" src="/top.jpg">
