<html>
<header>
  <div class="header-logo">
    Chatty
  </div>
  <ul class="header-menus">
    <li>Chattyとは</li>
  </ul>
</header>

<h2>Let's talk about international marriage!!</h2>
<p>楽しいことも、悩みも、シェアしよっ！！</p>

<h2>トピック一覧</h2>
  <ul>

  </ul>
<img class="about-img" src="/top.jpg">
</html>
